* {
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}

#canvasMain {
    border: 5px groove rgb(8, 6, 6);
   /* z-index: 1; */
    width: 900;
    height: 650;
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -57%);
    max-width: 100%;
    max-height: 100%;
}

h1 {
    text-align: center;
    margin-top: 25px;
    /* margin-botom: 500px; */
    border: 10px groove rgb(146, 77, 77);
    background: rgb(63,182,63);
    background: linear-gradient(90deg, rgba(63,182,63,1) 0%, rgba(0,0,0,1) 20%, rgba(54,96,112,1) 35%, rgba(0,0,0,1) 50%, rgba(54,96,112,1) 65%, rgba(0,0,0,1) 80%, rgba(63,182,63,1) 100%);
    position: relative;
    color: rgb(255, 0, 0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(254, 254, 255);
}

#titleContainer {
    max-width: 100%;
    max-height: 100%;
  /*\ border: 10px groove white;
  background: rgb(255,0,0);
  background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,255,255,1) 7%, rgba(233,19,7,1) 13%, rgba(255,255,255,1) 25%, rgba(238,1,1,0.9906337535014006) 35%, rgba(255,255,255,1) 45%, rgba(255,0,16,1) 56%, rgba(255,255,255,1) 64%, rgba(255,0,16,1) 72%, rgba(255,255,255,1) 79%, rgba(255,0,16,1) 86%, rgba(255,255,255,1) 93%, rgba(255,0,16,1) 100%); */
  /* display: flex;
  flex-direction: column;
  justify-content: space-around; */
  align-items: center;
  text-align: center;
  position: relative;
  width: 900px;
  left: 50%;
  transform: translate(-50%);

  
}

body {
    /* display: flex; */
  /* justify-content: center;
  align-items: center; */
    background-image: url('Background-Images/bodyIMG.jpg_large 10.26.19 AM');
    background-size: cover;
    /* background: rgb(0,183,255);
    background: linear-gradient(90deg, rgba(0,183,255,1) 0%, rgba(0,0,0,1) 20%, rgba(0,183,255,1) 35%, rgba(255,255,255,1) 50%, rgba(0,183,255,1) 65%, rgba(0,0,0,1) 80%, rgba(0,183,255,1) 100%); */
}

#button1 {
    width: 100;
    height: 100;
    opacity: 1;
}


#collisionCanvas {
    max-width: 100%;
    max-height: 100%;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
    
    background: rgb(255,0,0);
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,255,255,1) 7%, rgba(233,19,7,1) 13%, rgba(255,255,255,1) 25%, rgba(238,1,1,0.9906337535014006) 35%, rgba(255,255,255,1) 45%, rgba(255,0,16,1) 56%, rgba(255,255,255,1) 64%, rgba(255,0,16,1) 72%, rgba(255,255,255,1) 79%, rgba(255,0,16,1) 86%, rgba(255,255,255,1) 93%, rgba(255,0,16,1) 100%);
    border: 5px groove purple;
/* z-index: 10; */
    width: 900;
    height: 650;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
}

/* #background {
    width: 900px;
    height: 650px;
    background-position: 0px 0px;
    background: url(backgroundSheet.png);
    background-repeat: 7;
    animation: animatedBackground 50s linear infinite alternate;


}

@keyframes animatedBackground {
    from {
        background-position: 0 0;
    }
   to {
        background-position: 100% 0;
    }
} */